<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-emre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `login-emre`
     * Login component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginEmre extends Polymer.Element {
      static get is() { return 'login-emre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-emre'
          }
        };
      }
    }

    window.customElements.define(LoginEmre.is, LoginEmre);
  </script>
</dom-module>
