<link rel="import" href="../polymer/polymer-element.html">
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>


<dom-module id="login-emre">
  <template>
    <style>
      :host {
        display: block;
      }

       .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
      }

      .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #103c42;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      .form button:hover,.form button:active,.form button:focus {
        background: #4CAF50;
      }

      body {
        background: #76b852; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #76b852, #8DC26F);
        background: -moz-linear-gradient(right, #76b852, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

    </style>

      <div class="login-form">
        <form class="form">
          <input id="idname" type="text" placeholder="username" required/>
          <input id="idpassword" type="password" placeholder="password" required/>
          <button type="button" on-click="validatelogin">login</button>
        </form>
      </div>

    </template>

  <script>
    /**
     * `login-emre`
     * Login component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class LoginEmre extends Polymer.Element {
       static get is() { return 'login-emre'; }
       static get properties() {
         return {
           prop1: {
             type: String,
             value: 'login-emre'
           },
           validatesignin: {
             type: Boolean,
             value: "false",
             notify: true
           }
         };
       }

       validatelogin() {
         console.log("Aqui esta el evento prueba");
         if(this.$.idname.value == "Manuel" && this.$.idpassword.value == "1234") {
           this.set("validatesignin", true);
           console.log("Acceso correcto");
         } else {
           console.log("Acceso incorrecto");
         }
       }
     }


    window.customElements.define(LoginEmre.is, LoginEmre);
  </script>
</dom-module>
